
.App {
  
  text-align: center;

  margin-top: 20px;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
}
.container{
  /* border: 1px solid red; */


width: 650px;
height: 140px;
 background-color: beige;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin-bottom: 20px;
 background: #d9a7c7; 
  background: -webkit-linear-gradient(to right, #d9a7c7, #fffcdc);
  background: linear-gradient(to right, #d9a7c7, #fffcdc); 







}
.container  h1{
  font-family: cursive;
  font-size: 24px;
  margin-bottom: 10px;
  font-size: larger;
  font-style: italic;
color:rgb(32, 85, 138)
}
.container p {
  font-size: 15px;
  line-height: 1.5;
  margin-bottom: 20px;
font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
font-style: oblique;
text-align: center;
}
.container:hover {

 transform: scale(1.04);
}
